<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceProducts" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:14302/ServiceProducts.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceProducts"
                contract="WcfServiceProducts.IServiceProducts" name="BasicHttpBinding_IServiceProducts" />
        </client>
    </system.serviceModel>
</configuration>